h1 {
    color: rgb(255, 208, 0);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-align: center;
    font-family: pokeFont;
}

#navigation {
    background-image: linear-gradient(90deg, rgb(0, 235, 67), rgb(0, 216, 0));
}

#user {
    text-decoration: none;
    color: white;
}

.divy {
    border: 2px solid grey;
    border-radius: 10px;
    border-collapse: collapse;
    padding-top: 50px;
}

header {
    width: 100%;
    margin-top: 50px;
    padding: 25px;
    height: 500px;
    border: none;
    background-image: url("../images/pokeballcatch.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat repeat;
    border-bottom: 10px solid black;
}

#zobrazeni {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
    margin-top: 100px;
}

form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn.btn-info {
    margin-right: 30px;
}

footer {
    width: 100%;
}

article {
    background-color: rgb(237, 246, 255);
    width: 70%;
    padding: 20px;
    margin: auto;
}

#usernavigate {
    width: 100%;
    height: 50px;
    margin-top: -50px;
    background-image: linear-gradient(90deg, white, rgb(218, 218, 218));
    border-bottom: 2px grey solid;
}

#uvodtext {
    color: rgb(255, 166, 0);
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    text-align: center;
    font-family: pokeFont;
    font-size: 100px;
}

#pokemonHead {
    color: rgb(255, 166, 0);
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    text-align: center;
    font-family: pokeFont;
    font-size: 40px;
    margin-bottom: 40px;
}

@font-face {
    font-family: IBMPlexSans;
    src: url('../fonts/ibm/IBMPlexSans-SemiBold.ttf');
}

.obrPokemona {
    margin: 5px;
    border-radius: 3px;
    border: 1px solid rgb(189, 189, 189);
}

.nazevPokemona {
    font-family: IBMPlexSans;
    text-align: center;
    text-decoration: none;
}

.obrazky:hover {
    text-decoration: none;
}

@font-face {
    font-family: pokeFont;
    src: url('../fonts/Pokemon/Pokemon Solid.ttf');
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container>div {
    border: 1px solid rgb(155, 155, 155);
    border-radius: 5px;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
}

.obrazky {
    margin: auto;
}