@import url("pokedex.css");
header {
    width: 100%;
    margin-top: 50px;
    padding: 25px;
    height: 500px;
    border: none;
    background-image: url("../images/pokeballcatch.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat repeat;
    border-bottom: 10px solid black;
}

#zobrazeni {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
    margin-top: 100px;
}

form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    width: 100%;
}

@media screen and (max-width:860px) {
    div.card.card-body {
        width: 25%;
    }
    #uvodtext {
        font-size: 12vw;
    }
}

@media screen and (max-width:590px) {
    div.card.card-body {
        width: 35%;
    }
    #uvodtext {
        font-size: 15vw;
    }
}

@media screen and (max-width:440px) {
    .obrazky {
        width: 90%;
    }
    .obrPokemona {
        width: 90%;
        height: 90%;
    }
    .nazevPokemona {
        font-size: 6vw;
    }
}

@media screen and (max-width:480px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #tlacitko {
        width: 60%;
        margin-right: 0px;
        margin-bottom: 20px;
        font-size: 3vw;
    }
}

@media screen and (max-width:330px) {
    a>button {
        font-size: 3vw;
    }
    #pokemonHead {
        font-size: 12vw;
    }
}

@media screen and (max-width:490px) {
    #zpatky {
        flex-direction: column;
    }
}

@media screen and (max-width:247px) {
    #usernavigate {
        height: 100px;
    }
    #uvodtext {
        margin-top: 50px;
    }
}