h1 {
    color: rgb(255, 208, 0);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-align: center;
    font-family: pokeFont;
}

#navigation {
    background-image: linear-gradient(90deg, rgb(0, 235, 67), rgb(0, 216, 0));
}

#user {
    text-decoration: none;
    color: white;
}

.divy {
    border: 2px solid grey;
    border-radius: 10px;
    border-collapse: collapse;
    padding-top: 50px;
}

header {
    width: 100%;
    margin-top: 50px;
    padding: 25px;
    height: 500px;
    border: none;
    background-image: url("../images/pokemon-background-art.png");
    background-size: 100% 100%;
    background-repeat: no-repeat repeat;
}

#zobrazeni {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}

footer {
    width: 100%;
}

#pokemonnavigate {
    background-color: rgb(237, 246, 255);
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 20px;
    height: 30%;
}

article {
    background-color: rgb(237, 246, 255);
    width: 70%;
    padding: 20px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#usernavigate {
    width: 100%;
    height: 50px;
    margin-top: -50px;
    background-image: linear-gradient(90deg, white, rgb(218, 218, 218));
    border-bottom: 2px grey solid;
}

#uvodtext {
    color: rgb(255, 166, 0);
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    text-align: center;
    font-family: pokeFont;
    font-size: 7vw;
}

#pokemonHead {
    color: rgb(255, 166, 0);
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    text-align: center;
    font-family: pokeFont;
    font-size: 40px;
    margin-bottom: 40px;
}

@font-face {
    font-family: IBMPlexSans;
    src: url('../fonts/ibm/IBMPlexSans-SemiBold.ttf');
}

.obrPokemona {
    margin: 5px;
    border-radius: 3px;
    border: 1px solid rgb(189, 189, 189);
    transition: 0.10s;
}

.nazevPokemona {
    font-family: IBMPlexSans;
    text-align: center;
    text-decoration: none;
    margin-top: 3px;
    Color: black;
}


/*animace*/

div.obrazky a:hover {
    text-decoration: none;
}

div.obrazky a:hover img {
    animation-name: zvetseni;
    animation-duration: 0.10s;
    height: 210px;
    width: 210px;
}

div.obrazky a:hover .obrPokemona {
    margin: 0px;
}


/* The Modal (background) */

@font-face {
    font-family: pokeFont;
    src: url('../fonts/Pokemon/Pokemon Solid.ttf');
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container>div {
    border: 1px solid rgb(155, 155, 155);
    border-radius: 5px;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
}

.obrazky {
    margin: auto;
}

div.card.card-body {
    height: 40px;
    padding: 6px;
    padding-left: 15px;
}

input [type=search] {
    width: 60%;
    margin-bottom: 40px;
}

#usernavigate {
    z-index: 1;
}

#tlacitko {
    margin-right: 40px;
}

#zpatky {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

input[type=search] {
    width: 60%;
    margin-bottom: 40px;
}

@media screen and (max-width:1080px) {
    #zobrazeni {
        flex-direction: column;
    }
    #pokemonnavigate {
        width: 70%;
    }
    .collapse {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    div.card.card-body {
        width: 15%;
    }
}

@media screen and (max-width:860px) {
    div.card.card-body {
        width: 25%;
    }
    #uvodtext {
        font-size: 12vw;
    }
}

@media screen and (max-width:590px) {
    div.card.card-body {
        width: 35%;
    }
    #uvodtext {
        font-size: 15vw;
    }
}

@media screen and (max-width:440px) {
    .obrazky {
        width: 90%;
    }
    .obrPokemona {
        width: 90%;
        height: 90%;
    }
    .nazevPokemona {
        font-size: 6vw;
    }
    div.obrazky a:hover img {
        transition: 0.10s;
        animation-name: zvetseni2;
        animation-duration: 0.10s;
        height: 100%;
        width: 100%;
    }
    .obrPokemona {
        margin: 5%;
    }
    div.obrazky a:hover .obrPokemona {
        animation-name: margin;
        animation-duration: 0.10s;
        margin: 0;
        transition: 0.10s
    }
    @keyframes zvetseni {
        from {
            height: 90%;
            width: 90%;
        }
        to {
            height: 100%;
            width: 100%
        }
    }
}

@media screen and (max-width:480px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #tlacitko {
        width: 60%;
        margin-right: 0px;
        margin-bottom: 20px;
        font-size: 3vw;
    }
    input:nth-child(2) {
        width: 100%;
    }
    input[type=search] {
        width: 100%;
    }
}

@media screen and (max-width:330px) {
    button:first-child {
        font-size: 4.5vw;
    }
    #pokemonHead {
        font-size: 12vw;
    }
    #smazat {
        font-size: 3vw;
        width: 100%;
    }
}

@media screen and (max-width:490px) {
    #zpatky {
        flex-direction: column;
    }
    #smazat {
        font-size: 4vw;
    }
}

@media screen and (max-width:247px) {
    #usernavigate {
        height: 100px;
    }
    #uvodtext {
        margin-top: 50px;
    }
}

@media screen and (max-width:340px) {
    .collapse {
        flex-direction: column;
    }
    div.card.card-body {
        width: 100%;
    }
}

@font-face {
    src: url("../fonts/ibm/IBMPlexSans-Light.ttf");
    font-family: IBMPlesSansMed;
}

@keyframes zvetseni {
    from {
        height: 200px;
        width: 200px;
    }
    to {
        height: 210px;
        width: 210px
    }
}

@keyframes zvetseni2 {
    from {
        height: 100%;
        width: 100%;
    }
    to {
        height: 101%;
        width: 101%;
    }
}

@keyframes margin {
    from {
        margin: 5%;
    }
    to {
        margin: 0%;
    }
}